@page "/"
@inject IJSRuntime JSRuntime
@inject HttpClient _client

<body>
    <!--carousel-->
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="d-flex justify-content-center w-100 h-100">
                    <img style="height: 30%; max-width: 40% " src="/css/images/dental.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center w-100 h-100">
                    <img style="height: 30%; max-width: 40% " src="/css/images/baby.png" class="d-block w-100" alt="...">
                </div>
            </div>
            <div class="carousel-item">
                <div class="d-flex justify-content-center w-100 h-100">
                    <img style="height: 30%; max-width: 40% " src="/css/images/razor.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
                </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    <!--Featured products card group-->
    @if (Products != null)
    {
        <div class="card-group">
            @foreach (var product in Products.Take(3))
            {
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" style="max-width:100%;max-height:50%;" src="@product.ProductImage" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@product.ProductName</h5>
                        <p class="card-text">@product.ProductDesc</p>
                        <a href="/products/view/@product.ID" class="btn btn-primary">View product</a>
                    </div>
                </div>
            }

        </div>

    }

</body>
<footer style="text-align: center;font-family: 'Helvetica Neue';font-size: 200%;">
    <p>Welcome to VitalMed! Made by Lim Chee Long and Luis Voo.</p>
</footer>

<!--Starts js script for carousel-->
@code {

    private List<Product> Products;

    protected async override Task OnInitializedAsync()
    {
        Products = await _client.GetFromJsonAsync<List<Product>>($"{Endpoints.ProductsEndpoint}");
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("startCarousels");
    }
}