@page "/"
<body>
    <link rel="stylesheet" type="text/css" href="/css/Landing.css" />
    <div class="container">
        <img src="/css/images/health.png" style="width:100%" />
    </div>

    <h2 style="Text-align: center; font-family:'Helvetica Neue'">Featured Products</h2>

    <div class="row">
        <div class="column">
            <img src="css/images/razor.jpg" style="width:50%">
        </div>
        <div class="column">
            <img src="css/images/toothpaste.jpg" style="width: 50% ">
        </div>
        <div class="column">
            <img src="css/images/vitamins.jpg" style="width: 50% ">
        </div>
    </div>
    <h3 style="Text-align: center; font-family:'Helvetica Neue'">Top Categories</h3>
    <table class="center">
        <thead>
            <tr>
                <th>Dental</th>
                <th></th>
                <th>Men</th>
                <th></th>
                <th>Women</th>
                <th></th>
                <th>Baby</th>
                <th></th>
                <th>Haircare</th>
            </tr>
        </thead>
    </table>
</body>
            <footer style="text-align: center;font-family: 'Helvetica Neue';font-size: 200%;">
                <p>Welcome to VitalMed! Made by Lim Chee Long and Luis Voo.</p>
            </footer>
