@page "/categories/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title">Add a Category</h3>
<hr />
<br />

<FormComponent ButtonText="Create Category" categories="categories" OnValidSubmit="@CreateCategory" />

@code {
    private List<Category> Categories;

    Category categories = new Category();

    protected async override Task OnInitializedAsync()
    {
        Categories = await _client.GetFromJsonAsync<List<Category>>($"{Endpoints.CategoriesEndpoint}");
    }

    private async Task CreateCategory()
    {
        await _client.PostAsJsonAsync(Endpoints.CategoriesEndpoint, categories);
        _navManager.NavigateTo("/categories/");
    }
}
