@page "/categories/"
@inject HttpClient _client
@inject IJSRuntime js
@attribute [Authorize]


<h3 class="card-title">List of Categories</h3>

<a href="/categories/create" class="btn btn-secondary">
    <span class="oi oi-plus"></span>
    Add New Category
</a>    
<br />
<br />


@if (Categories == null)
{
    <div class="alert alert-info">Loading Categories...</div>
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Name</th>
                <th>Thumbnail</th>
                <th>Edit Category</th>
                <th>Delete Category</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Categories)
            {
                <tr>
                    <td>@category.Name</td>
                    <td>
                        <!--image link is stored in product.ProductImage, which is a string variable-->
                        <img style="width:100px;height:100px" src="@category.Thumbnail" />
                    </td>
                    <td>
                        <a href="/categories/edit/@category.ID" class="btn btn-warning">
                            <span class="oi oi-pencil"></span>
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-danger" @onclick="@(()=>Delete(category.ID))">
                            <span class="oi oi-delete"></span>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Category> Categories;

    protected async override Task OnInitializedAsync()
    {
        Categories = await _client.GetFromJsonAsync<List<Category>>($"{Endpoints.CategoriesEndpoint}");
    }

    async Task Delete(int categoryID)
    {
        var category = Categories.First(q => q.ID == categoryID);
        var confirm = await js.InvokeAsync<bool>("confirm", $"Do you want to delete {category.ID}?");
        if (confirm)
        {
            await _client.DeleteAsync($"{Endpoints.CategoriesEndpoint}/{categoryID}");
            await OnInitializedAsync();
        }
    }
}